/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    /* box-sizing: border-box; */
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* MAIN CSS */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #17171b 0%, #28282f 100%);
}

#main-content {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

/* Navigation */

header {
    width: 80px;
    height: 394px;
    height: fit-content;
    text-align: center;
    font-size: 1.2rem;
    background-color: #31313a;
    border-radius: 8px;
    z-index: 10;
}

#main-nav ul li {
    margin: 10px 0;
    padding-bottom: 15px;
    position: relative;
}

.nav-links, i {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

#main-nav ul li::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #31313a, #6a00f4 50%, #b100e8 80%, #f20089);
}

#main-nav ul li:last-of-type::after {
    background-image: none;
}

.fas {
    font-size: 2rem;
    display: block;
    padding: 10px 0;
}

/* PROFILE CARD */

header, #profile-card, #profile-card::before, #cover-image::before, #cover-image::after, #content-card {
    background-color: #31313a;
}

#profile-card {
    width: 500px;
    height: fit-content;
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.657);
}

#profile-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0.8;
    border-radius: 10px;
}

#profile-card, #cover-image img {
    border-radius: 10px;
}

#cover-image {
    position: relative;
    overflow: hidden;
}

#cover-image img {
    width: 100%;
}

#cover-image::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -5px;
    height: 50px;
    width: 52%;
    display: block;
    transform: rotate(10deg);
}

#cover-image::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -5px;
    height: 50px;
    width: 52%;
    display: block;
    transform: rotate(-10deg);
}

#logo, #profile-name {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -100px;
    text-align: center;
}

#profile-name {
    color: white;
}

#profile-name span {
    display: block;
}

.first-name {
    font-size: 3.5rem;
    letter-spacing: 5px;
}

.last-name {
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#profile-contact {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    border-top: 1px solid white;
}

#profile-contact div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-contact div:first-child {
    border-right: 1px solid white;
}

#profile-contact div a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

/* CONTENT CARD */

#content-card {
    padding: 20px;
    height: 90%;
    flex: 1;
    margin: auto 0;
    position: relative;
}

.content-title {
    font-size: 2rem;
}

.content-subtitle {
    font-size: 1.5rem;
}

.content-title, .content-subtitle {
    position: relative;
    color: white;
    margin: 10px 0;
    width: 100%;
}

.content-title::before, .content-subtitle::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.4;
    border-radius: 50%;
    top: 25%;
}

.content-title::before {
    background-color: teal;
    width: 30px;
    height: 30px;
    left: -10px;
}

.content-subtitle::before {
    background-color: chartreuse;
    height: 20px;
    width: 20px;
    left: -5px;
}

#content-card .content-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    left: -10px;
    top: 25%;
    border-radius: 50%;
    background-color: teal;
}

.title-first-word {
    color: teal;
}

.subtitle-first-word {
    color: chartreuse;
}