/* FONTS */

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Regular.woff') format('woff'), url('./fonts/Poppins-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Medium.woff') format('woff'), url('./fonts/Poppins-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins-Light.woff') format('woff'), url('./fonts/Poppins-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
}

/* CSS RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: Poppins;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Background */

.background-squares {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.background-squares ul li {
    list-style-type: none;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -350px;
}

.background-squares ul li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.background-squares ul li:nth-child(2) {
    left: 12%;
    width: 45px;
    height: 45px;
    animation-delay: 15s;
    animation-duration: 10s;
}

@keyframes animate {
    0% {
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-1500px) rotate(600deg);
        transform: translateY(-1500px) rotate(600deg);
    }
}

/* MAIN CSS */

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #17171b 0%, #28282f 100%);
}

#main-content {
    width: 80%;
    height: 70%;
    display: flex;
    position: relative;
    flex-direction: row;
}

/* Navigation */

header {
    width: 70px;
    height: 320px;
    height: fit-content;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #31313a;
    border-radius: 8px;
    z-index: 10;
}

#main-nav ul li {
    margin: 10px 0;
    padding-bottom: 15px;
    position: relative;
}

.nav-links, i {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
}

#main-nav ul li::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #31313a, #6a00f4 50%, #b100e8 80%, #f20089);
}

#main-nav ul li:last-of-type::after {
    background-image: none;
}

.fas {
    font-size: 1rem;
    display: block;
    padding: 10px 0 15px;
}

/* PROFILE CARD */

header, #profile-card, #profile-card::before, #cover-image::before, #cover-image::after, .card-inner {
    background-color: #31313a;
}

#profile-card {
    width: 460px;
    /* height: fit-content; */
    margin-left: 10px;
    border-radius: 10px;
    position: relative;
    border-right: 1px solid rgba(255, 255, 255, 0.657);
}

#profile-card::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    opacity: 0.8;
    border-radius: 10px;
}

#profile-card, #cover-image img {
    border-radius: 10px;
}

#cover-image {
    position: relative;
    overflow: hidden;
}

#cover-image img {
    width: 100%;
}

#cover-image::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -5px;
    height: 50px;
    width: 52%;
    display: block;
    transform: rotate(10deg);
}

#cover-image::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -5px;
    height: 50px;
    width: 52%;
    display: block;
    transform: rotate(-10deg);
}

#logo {
    width: 150px;
    height: 150px;
}

#logo img {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 100;
}

#logo::after {
    content: "";
    width: 140px;
    height: 140px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: 13px;
    left: -5px;
    background: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 0.4) 0%, rgba(255, 152, 0, 0.01) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 0.4) 0%, rgba(255, 152, 0, 0.01) 100%);
    background: linear-gradient(135deg, rgba(255, 152, 0, 0.4) 0%, rgba(255, 152, 0, 0.01) 100%);
}

#logo, #profile-name {
    margin: 0 auto;
    position: relative;
    top: -100px;
    text-align: center;
}

#profile-name {
    width: 50%;
    color: white;
}

#profile-name span {
    display: block;
    line-height: 1.2;
}

.first-name {
    font-size: 2.5rem;
    letter-spacing: 5px;
}

.last-name {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 10px;
}

#profile-contact {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    border-top: 1px solid white;
}

#profile-contact div {
    width: 50%;
}

#profile-contact div:first-child {
    border-right: 1px solid white;
}

#profile-contact div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* CONTENT CARD */

#content-card {
    flex: 1;
    height: 90%;
    margin: auto 0;
    position: relative;
}

.card-inner {
    padding: 0 0 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-y: scroll;
    color: white;
    font-size: 1.2rem;
}

.content-title {
    font-size: 2rem;
}

.content-subtitle {
    font-size: 1.5rem;
}

.content-title, .content-subtitle {
    position: relative;
    color: white;
    padding: 20px 0;
    width: 100%;
}

.content-title::before, .content-subtitle::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.4;
    border-radius: 50%;
    top: 25%;
}

.content-title::before {
    background-color: teal;
    width: 30px;
    height: 30px;
    left: -10px;
}

.content-subtitle::before {
    background-color: chartreuse;
    height: 20px;
    width: 20px;
    left: -5px;
}

.card-inner .content-title::before {
    content: "";
    display: inline-block;
    position: absolute;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    left: -10px;
    top: 25%;
    border-radius: 50%;
    background-color: teal;
}

.title-first-word {
    color: teal;
}

.subtitle-first-word {
    color: chartreuse;
}

/* About */

.card-content-pg {
    padding: 0 30px;
}

.title {
    position: relative;
    padding-bottom: 20px;
}

.content-title {
    margin-bottom: 20px;
}

.title::after, .content-title::after {
    content: "";
    height: 1px;
    background: radial-gradient(ellipse at left, rgba(197, 202, 213, 0.479) 0%, rgba(255, 255, 255, 0) 70%);
    width: 100%;
    display: block;
    position: absolute;
    left: -30px;
    margin: 20px 0;
}

.content {
    padding: 20px 10px;
}

.content p {
    line-height: 1.4;
    margin-bottom: 20px;
}

.content-item-box {
    display: grid;
    grid-template-areas: 'left-top right-top' 'lelft-bottom right-bottom';
}

.content-item-box:nth-child(1) {
    grid-area: left-top;
}

.content-item-box:nth-child(2) {
    grid-area: left-bottom;
}

.content-item-box:nth-child(3) {
    grid-area: right-top;
}

.content-item-box:nth-child(4) {
    grid-area: right-bottom;
}

/* Services */

.services-box-ct {
    margin: 25px auto;
    width: 50%;
}

.code-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
    background: linear-gradient(135deg, rgba(255, 152, 0, 0.15) 0%, rgba(255, 152, 0, 0.01) 100%);
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: #ff9800;
}

.code-smaller {
    font-size: 1.3rem;
}

.service-name {
    margin: 20px 0;
    display: block;
}

.service-name+p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.1rem;
}

/* Fun Facts */

.funfacts-wrap, .hobby-wrap {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.funfacts-wrap div, .hobby-wrap div {
    margin-right: 5px;
    padding: 50px 0;
    text-align: center;
    position: relative;
}

.funfacts-wrap div::after {
    content: "";
    height: 100%;
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, 0.479) 0%, rgba(255, 255, 255, 0) 70%);
}

.funfacts-wrap div:last-of-type::after {
    display: none;
}

.funfacts-wrap div img, .hobby-wrap img {
    width: 50px;
}

.hobby-wrap div img {
    border: 1px solid #fff;
    border-radius: 50%;
}

.hobby-wrap img::after {
    content: "";
    height: 1px;
    width: 50%;
    display: block;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    background-color: white;
}

/* Quotes */

blockquote {
    width: 80%;
    margin: 25px auto 20px;
    line-height: 1.5;
    text-align: center;
}

.mini-profile {
    width: 40%;
    margin: 0 auto 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mini-profile img {
    width: 100px;
    height: 100px;
}

.mini-profile .mini-title {
    margin: 15px 0 10px;
    font-size: 1.3rem;
}

.mini-profile .profession {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.55);
}

/* --- Resume --- */

.resume-col-wrapper {
    width: 100%;
    display: flex;
    /* margin: 30px 0; */
    padding: 15px 0;
}

.resume-col {
    flex: 1;
    padding: 0 30px;
}

.resume-col .title {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.fa-briefcase, .fa-graduation-cap {
    margin-right: 15px;
    font-size: 2rem;
    color: #ff9800;
}

.resume-col .title::after {
    left: 0;
    top: 35px;
}

.date {
    font-size: 0.8rem;
    width: auto;
    border: 1px solid #666;
    color: #666;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
}

.present {
    border-color: #ff9800;
    color: #ff9800;
}

.place {
    margin: 15px 0;
}

.item-title {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1.2px;
}

.item-location {
    font-size: 1rem;
    margin-top: 10px;
    color: #999;
    font-weight: 300;
}

.description {
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.1rem;
    margin: 10px 0;
}

.description ul, .description ul li {
    margin: 10px;
}

.description ul li::before {
    content: "\2022";
    color: #ff9800;
    display: inline-block;
    width: 1em;
}

.gained-skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: ; */
}

.coding span {
    border: 3px solid orangered;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}

/* Projects */

.project-grid {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    gap: 15px;
}

.grid-item {
    height: 250px;
    background: black;
    position: relative;
    transition: background .5s ease;
    overflow: hidden;
}

.grid-item:hover {
    background: yellow;
    cursor: pointer;
}

.project-grid img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.project-grid img, .overlay {
    height: 99.9%;
    border-radius: 15px;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover {
    opacity: 1;
}

.project-stack {
    width: 100%;
    padding: 0 5px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stack {
    margin: 10px 5px;
    font-size: 1rem;
    text-align: center;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid black;
    background: rgba(0, 0, 0, 0.5);
    transition: background .5s ease, color .3s ease;
    z-index: 10;
}

.stack:hover {
    color: black;
    background: rgba(255, 255, 255, 0.9);
}

.project-title {
    position: absolute;
    bottom: 10px;
}

.source {
    position: absolute;
    top: 20px;
    right: -50px;
    background: white;
    width: 190px;
    height: 40px;
    box-sizing: border-box;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(.12turn);
    box-shadow: -2px 3px 1px rgba(0, 0, 0, .23);
    font-size: 2.2rem;
    text-decoration: none;
}

.project-website span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.source:visited, .project-website:visited {
    color: white;
}

.fa-github {
    color: black;
}

.source:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .23);
    transform: scale(1.05) rotate(.12turn);
    color: royalblue;
}

.source:hover .fa-github {
    color: royalblue;
}

/* --- Contact --- */

.contact-form input, .contact-form textarea {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
    padding-bottom: 10px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 300;
    transition: border-bottom 0.3s ease, color 0.3s ease-in;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-bottom: 1px solid #ff9800;
    color: #ff9800;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form-group input {
    width: 45%;
}

.contact-form textarea {
    width: 100%;
    max-width: 100%;
}

.contact-form button {
    margin: 30px auto;
    display: block;
    border: 1px solid white;
    background: none;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-size: 1rem;
    letter-spacing: 3px;
    transition: border 0.3s ease-in, border-radius 0.3s ease-in, background 0.3s ease-in;
}

.contact-form button:hover {
    border: 1.2px solid #ff9800;
    background: #ff9800;
    border-radius: 15px;
}

/* Tabs */

.card-inner {
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -khtml-border-radius: 0 4px 4px 0;
    transition: visibility 1s linear, opacity 0s linear;
    -moz-transition: visibility 1s linear, opacity 0s linear;
    -webkit-transition: visibility 1s linear, opacity 0s linear;
    -o-transition: visibility 1s linear, opacity 0s linear;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    position: absolute;
}

.visible {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    animation: fadeInLeft .25 ease-in;
    -webkit-transition: fadeInLeft .25s ease-in;
    -moz-transition: fadeInLeft .25s ease-in;
    -o-transition: fadeInLeft .25s ease-in;
    transition: fadeInLeft .25s ease-in;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.card-inner {
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -webkit-transition: visibility 1s linear, opacity 0s linear;
    -moz-transition: visibility 1s linear, opacity 0s linear;
    transition: visibility 1s linear, opacity 0s linear;
}

.fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-5%, 0, 0);
        transform: translate3d(-5%, 0, 0);
    }
}

/* Media Queries */

@media (max-width: 1615px) {
    #main-content {
        width: 80%;
        height: auto;
        display: block;
    }
    main {
        height: auto;
    }
    .background-squares {
        /* height: 100%; */
    }
    #content-card {
        height: 900px;
    }
    header {
        position: absolute;
        left: -70px;
    }
    #profile-card {
        /* margin: 0 auto; */
    }
    .card-inner {
        /* height: auto; */
        /* overflow: auto; */
    }
    #resume {
        box-sizing: border-box;
    }
}